

// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

#thera_device_panel_container{
  background: white;
  position: absolute;
  margin-right: 100px;
  margin-top: 100px;
  text-align: center;
  display: flex;
  background-color: #000000;
}

#thera_devide_panel_table {
  text-align: center;
  margin: 20px;
  font-size:20px;
  color:white;
}

#thera_devide_panel_table tr{
  padding: 10px;
}

#thera_devide_panel_ex_table {
   text-align: center;
   margin: 20px;
 }

//#thera_devide_panel_ex_table td{
 //padding: 50px;
//}

#thera_device_panel_qr_view{
  margin: 20px;
}

#thera_devide_panel_table tr:nth-child(even){
  background-color:#0e1112;
}




