

// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.thera_device_panel_container{
  background: white;
  position: absolute;
  margin: auto;
  margin-top: 200px;
  width: 700px;
  alignment: center;
}

.thera_devide_panel_table {
  text-align: center;
  width:100%;

}

.thera_devide_panel_table td {
  padding: 10px 0px;
}